@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF-Pro-Text-Regular.ttf') format('truetype');
  font-weight: lighter;
  font-style: lighter;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF-Pro-Text-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF-Pro-Text-Medium.ttf') format('truetype');
  font-weight: light;
  font-style: light;
}



/* .test{
  font-family: "SF Pro";
} */